<% if flash[:notice].present? %>
<div class="clearfix" id="alerts">
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:notice] %>
  </div>  
</div>
<% end %>

<h2>Sample Content</h2>

<ul class="thumbnails">
  <li class="span3"><h5>Featured Video</h5><a href="<%= media_object_path('avalon:sample-beginning-responsibility-lunchroom') %>" class="thumbnail"><%= image_tag "sample-content/lunchroomManners.jpg", alt: "Featured Video" %></a></li>
  <li class="span3"><h5>Featured Video</h5><a href="<%= media_object_path('avalon:sample-fete-excerpt') %>" class="thumbnail"><%= image_tag "sample-content/organClip.jpg", alt: "Featured Video" %></a></li>
  <li class="span3"><h5>Featured Audio</h5><a href="<%= media_object_path('avalon:sample-mahler-symphony-3') %>" class="thumbnail"><%= image_tag "sample-content/mahler.jpg", alt: "Featured Audio" %></a></li>
</ul>

<h4>Using the System</h4>

<p>Avalon houses audio and video collections. Use the search box, or browse using the terms on the left side to discover content. Some content is only available when you sign in.  Sign in with your ID and passphrase.</p>
